<!-- <mat-card >

    <mat-card-header>
<mat-card-title>

  SCIENCE
</mat-card-title>
<mat-card-subtitile>PHY,CHEM,Bio</mat-card-subtitile>
</mat-card-header>
xfbn ,

</mat-card> -->

<div >
  <span>
<mat-card class="example-card   mat-card">
    <mat-card-header>
      
      <mat-card-title>SCIENCE</mat-card-title>
      <mat-card-subtitle>PHY,CHEM,Bio</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
       THE QUiz Contains the questions related to the science physics chemistry and biology.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" >Start</button>
      <button mat-button color="warn" >Delete</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card   mat-card">
      <mat-card-header>
        
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <p>
         THE QUiz Contains the questions related to the science physics chemistry and biology.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn" color="primary">Start</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>


</span>
  </div>
